/******************************/
/*  BASIC SETUP  */
/******************************/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.image-container {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	height: 40rem;
	width: 50rem;
}
.images {
	display: flex;
	transition: transform 2s ease-in-out;
	transform: translateX(0);
}

img {
	object-fit: cover;
	height: 40rem;
	width: 50rem;
}
